name: netsells_test
description: A new Flutter project.

publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.0
  data_connection_checker: ^0.3.4
  mockito: ^4.1.3
  equatable: ^1.2.5
  http: ^0.12.2
  bloc: ^6.1.0
  bloc_test: ^7.1.0
  get_it: ^5.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:

  uses-material-design: true
